html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.contenedor {
    margin: auto;
}

.título {
    background-color:darkcyan ;
    text-align: center;
    color: aliceblue;
}

.contenido {
    background-color: beige;
}

.pie {
    background-color: darkcyan;
    color: aliceblue;
}